* {
  margin: 0;
  padding: 0;
  outline: none;
}

ul, li {
  list-style: none;
}

input::-ms-clear{
  display: none;
}

.container {
  max-width: 640px;
  margin: 20px auto;
}

.add-input {
  width: 550px;
  height: 30px;
  box-sizing: border-box;
}

.btn {
  width: 80px;
  height: 30px;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #fff;
  color: #777;
  cursor: pointer;
}

.btn-mg {
  margin: 5px;
}

.list {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}